openapi: 3.2.0
info:
  description: "# Introduction\n\nThe CB Insights API offers market data and insights you won't find anywhere else. Use our API to build trading platforms, media content, and market indexes, or integrate our proprietary scores into your workflows, algorithms, or LLMs. \n\n# CB Insights API v2 compared to v1\n\nThe new CB Insights API v2 offers new datasets and additional data points that were not available in v1. v2 follows the same REST architectural style and has a new structure for you to retrieve the information you need as conveniently as possible.\n\nThis first set of data includes:\n\n- **Firmographics**. Profiles on private companies, public companies, and investors. Includes general information like location, headcount, and industry, as well as proprietary data like business models, Competitor Scores, and Expert Collections.\n- **Financial Transactions**. Funding deals, cap table history, M&As, and IPOs, plus AI-generated insights that extract key themes.\n- **Business Relationships**. Partnerships, clients/vendors, and licensing activity, plus AI-generated insights to predict future M&As and shifts in strategy.\n- **Management and Board**. Leadership teams, board members, and the Management factor of the Mosaic Score — our proprietary algorithm which evaluates leadership teams based on past achievements.\n- **Outlook**. Proprietary data science analysis including Mosaic Score, Commercial Maturity, and Exit Probability. Proven to predict winners better than top VCs.\n- **Scouting Reports**. On-demand, AI-generated insights into business model, market position, strengths, and opportunities for private companies.\n"
  title: CB Insights Firmographics API
  contact: {}
  version: '2.0'
  x-logo:
    altText: CB Insights logo
    backgroundColor: '#FFFFFF'
    href: https://api-docs.cbinsights.com/v2/
    url: https://api-docs.cbinsights.com/images/CBI_Logo_Color.svg
servers:
- url: https://api.cbinsights.com
tags:
- description: This dataset contains profiles on private companies, public companies, and investors. Includes general information like location, headcount, and industry, as well as proprietary data like business models, Competitor Scores, and Expert Collections.
  name: Firmographics
paths:
  /v2/firmographics:
    post:
      security:
      - BearerAuth: []
      description: Retrieve a list of profiles on private companies, public companies, and investors based on the parameters defined in the request body.
      tags:
      - Firmographics
      summary: List profiles of companies.
      parameters:
      - description: Authorization
        name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2Firmographics.FirmographicsResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2Firmographics.FirmographicsRequestBody'
        description: Search parameters to request a list of organization profiles. You must pass at least one search parameter. Each field creates an AND condition while each value within a field creates an OR. For example, a request containing orgIds 144613 and 234543, and sectorIds 12 and 27, will return profiles of the organizations with orgIds matching 144613 OR 234543 and sector IDs matching 12 OR 27.
        required: true
components:
  schemas:
    v2Firmographics.AwardsAndSpotlightsLandscape:
      type: object
      properties:
        awardsAndSpotlightsId:
          description: The CBI ID of the awards and spotlights landscape; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/awards-and-spotlights
          type: integer
          example: 5
        awardsAndSpotlightsName:
          description: The name of the awards and spotlights landscape.
          type: string
          example: NRF Big Show Exhibitors (2025)
    v2Firmographics.BusinessModelLandscape:
      type: object
      properties:
        businessModel:
          description: The name of the business model landscape.
          type: string
          example: SaaS
        businessModelId:
          description: The CBI ID of the business model landscape; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/business-models
          type: integer
          example: 7
    v2Firmographics.BasicOrg:
      type: object
      properties:
        name:
          description: The name of the organization.
          type: string
          example: Blockdata
        orgId:
          description: CB Insights organization ID.
          type: integer
          example: 417006
    v2Firmographics.Identifiers:
      type: object
      properties:
        ciks:
          description: SEC Central Index Keys.
          type: array
          items:
            type: string
          example:
          - '320193'
        cusips:
          description: Committee on Uniform Security Identification Procedures (North American security identifiers).
          type: array
          items:
            type: string
          example:
          - 037833100
        figis:
          description: Financial Instrument Global Identifiers (also known as OpenFIGI).
          type: array
          items:
            type: string
          example:
          - BBG000B9XRY4
        isins:
          description: International Securities Identification Numbers.
          type: array
          items:
            type: string
          example:
          - US0378331005
        leis:
          description: Legal Entity Identifiers.
          type: array
          items:
            type: string
          example:
          - HWUPKR0MPOU8FGXBT394
        tickers:
          description: Stock tickers associated with this organization, not including the exchange associated with each ticker.
          type: array
          items:
            type: string
          example:
          - APC
        tickersWithExchanges:
          description: Stock tickers associated with this organization, including the exchange of each ticker, separated by a colon.
          type: array
          items:
            type: string
          example:
          - APC:BE
          - APC:DU
    v2Firmographics.Taxonomy:
      type: object
      properties:
        industry:
          description: The industry of this organization in the CB Insights industry taxonomy (mid-level)
          type: string
          example: Personal Computers & Notebooks
        industryId:
          description: The CBI ID of this industry; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: integer
          example: 144
        landscape:
          description: Landscape
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Landscape'
        marketIds:
          description: IDs for CB Insights markets the organization is a part of; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/markets
          type: array
          items:
            type: integer
          example:
          - 6
          - 95
          - 106
        marketNames:
          description: CB Insights markets the organization is a part of.
          type: array
          items:
            type: string
          example:
          - Web3 wallets
          - Large language model (LLM) developers
          - Retail AI agents
        sector:
          description: The sector of this organization in the CB Insights industry taxonomy (highest level).
          type: string
          example: Computer Hardware & Services
        sectorId:
          description: The CBI ID of this sector; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: integer
          example: 4
        subindustry:
          description: The sub-industry of this organization in the CB Insights industry taxonomy (lowest level).
          type: string
          example: E-Commerce Enablement
        subindustryId:
          description: The CBI ID of this sub-industry; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: integer
          example: 87
    v2Firmographics.Summary:
      type: object
      properties:
        additionalUrls:
          description: Any additional websites the organization may have.
          type: array
          items:
            type: string
          example:
          - cbicompany.com
          - cbinsights.org
        address:
          description: The organization's geographical location.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Address'
        aliases:
          description: Other names this organization may operate under.
          type: array
          items:
            type: string
          example:
          - CB Insight
          - CBI
        description:
          description: A description regarding who they are and what they do.
          type: string
          example: CB is an AI super analyst specializing in market intelligence across various sectors. The company provides insights and analytics to help enterprises understand tech markets, anticipate competitor strategies, and connect with tech vendors. CB Insights offers a platform that includes a technology search engine, market analytics, and data science predictions to inform business strategies. It was founded in 2008 and is based in New York, New York.
        foundedYear:
          description: The year this organization was founded.
          type: integer
        investorCategory:
          description: If this organization is an investor, this will denote the type of investing organization. See https://api-docs.cbinsights.com/docs/reference/investor_type/
          type: string
          example: Corporation
        investorCategoryId:
          description: If this organization is an investor, denotes the corresponding Investor Type ID documented at https://api-docs.cbinsights.com/docs/reference/investor_type/
          type: integer
          example: 14
        legalNames:
          description: Name(s) under which this organization is legally registered.
          type: array
          items:
            type: string
          example:
          - CB Information Services Inc.
          - CB Insights Holdings LLC
        name:
          description: The organization's name.
          type: string
          example: CB Insights
        profileUrl:
          description: The organization's CB Insights profile URL.
          type: string
          example: https://app.cbinsights.com/profiles/c/jp3o4
        stage:
          description: The type of investment stage that most recently occurred.
          type: string
          example: Series A
        status:
          description: 'Organization status: Alive / Active, Acquired, Assets Purchased, Dead / Inactive, IPO / Went public, or Merged.'
          type: string
          example: IPO / Went public
        statusId:
          description: CBI organization status identifier; see https://api-docs.cbinsights.com/docs/reference/org_status/
          type: integer
          example: 5
        url:
          description: The organization's website.
          type: string
          example: cbinsights.com
        vcBacked:
          description: Whether this organization has received venture capital funding.
          type: boolean
          example: true
    v2Firmographics.Address:
      type: object
      properties:
        city:
          description: The name of the city in which the organization is located.
          type: string
          example: New York
        cityId:
          description: The CBI city ID of the city in which the organization is located; see https://api-docs.cbinsights.com/docs/reference/address/
          type: integer
          example: 3033
        continent:
          description: The name of the continent in which the organization is located.
          type: string
          example: North America
        continentId:
          description: CBI continent ID of the continent in which the organization is located; see https://api-docs.cbinsights.com/docs/reference/address/
          type: integer
          example: 6
        country:
          description: The name of the country in which the organization is located.
          type: string
          example: United States
        countryId:
          description: The CBI country ID of the country in which the organization is located; see https://api-docs.cbinsights.com/docs/reference/address/
          type: integer
          example: 1
        postalCode:
          description: The postal code of the organization.
          type: string
          example: '10001'
        regions:
          description: The organization's geographical region, if applicable.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.Region'
        stateProvince:
          description: The name of the state or province in which the organization is located; also includes the constituent countries of the UK.
          type: string
          example: New York
        stateProvinceId:
          description: The CBI state/province ID of the state/province in which the organization is located; see https://api-docs.cbinsights.com/docs/reference/address/
          type: integer
          example: 32
        streetAddress:
          description: The street address of the organization.
          type: string
          example: 498 Seventh Avenue 12th Floor
    v2Firmographics.ExpertCollection:
      type: object
      properties:
        collectionId:
          description: The ID of the Expert Collection.
          type: integer
          example: 3285
        collectionName:
          description: Name of the Expert Collection.
          type: string
          example: Market Research & Consumer Insights
    v2Firmographics.Headcount:
      type: object
      properties:
        currentHeadcount:
          description: The current headcount of this organization.
          type: integer
          example: 300
        oneYearGrowth:
          description: The change in this organization's headcount over the past 12 months, expressed as a decimal offset from zero (i.e. a 12.3% increase returns 0.123, and a 45.6% decrease returns -0.456).
          type: number
          example: -15.254237174987793
        sixMonthGrowth:
          description: The change in this organization's headcount over the past 6 months, expressed as a decimal offset from zero (i.e. a 12.3% increase returns 0.123, and a 45.6% decrease returns -0.456).
          type: number
          example: -7.1207427978515625
        twoYearGrowth:
          description: The change in this organization's headcount over the past 24 months, expressed as a decimal offset from zero (i.e. a 12.3% increase returns 0.123, and a 45.6% decrease returns -0.456).
          type: number
          example: -35.622318267822266
    v2Firmographics.FirmographicsRequestBody:
      description: Search parameters to request a list of organization profiles. You must pass at least one search parameter.
      type: object
      properties:
        awardsAndSpotlightsIds:
          description: Searches for organizations that are a part of the specified awards and spotlights IDs; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/awards-and-spotlights
          type: array
          items:
            type: integer
        businessModelIds:
          description: Searches for organizations that are a part of the specified business model IDs; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/business-models
          type: array
          items:
            type: integer
        ciks:
          description: SEC Central Index Keys of organizations to match.
          type: array
          items:
            type: string
          example:
          - '320193'
        cityIds:
          description: CBI city IDs to match; see https://api-docs.cbinsights.com/docs/reference/address/
          type: array
          items:
            type: integer
        collectionIds:
          description: Searches for organizations within these Expert Collections.
          type: array
          items:
            type: integer
        continentIds:
          description: CBI continent IDs to match; see https://api-docs.cbinsights.com/docs/reference/address/
          type: array
          items:
            type: integer
        countryIds:
          description: CBI country IDs to match; see https://api-docs.cbinsights.com/docs/reference/address/
          type: array
          items:
            type: integer
        cusips:
          description: CUSIPs (Committee on Uniform Security Identification Procedures - North American security identifiers) to match.
          type: array
          items:
            type: string
        figis:
          description: Financial Instrument Global Identifiers (also known as OpenFIGI) to match.
          type: array
          items:
            type: string
        fundingInvestorTypeIds:
          description: Searches for organizations which have been invested in by these investor types; see https://api-docs.cbinsights.com/docs/reference/investor_type/
          type: array
          items:
            type: integer
        industryIds:
          description: CBI industry IDs to match; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: array
          items:
            type: integer
        investorOrgIds:
          description: Searches for organizations which have been invested in by these investors.
          type: array
          items:
            type: integer
        investorTypeIds:
          description: Searches for investor organizations with these investor types; see https://api-docs.cbinsights.com/docs/reference/investor_type/
          type: array
          items:
            type: integer
        isins:
          description: International Securities Identification Numbers to match.
          type: array
          items:
            type: string
        keyword:
          description: Analogous to keyword search on the CB Insights platform. Search term to match against organization names, descriptions, and aliases.
          type: string
        lastFundingRoundCategoryIds:
          description: CBI funding round category IDs of organizations to search for. For a more granular filter, the "lastFundingRoundIds" filter can be used instead; see https://api-docs.cbinsights.com/docs/reference/funding_types/
          type: array
          items:
            type: integer
        lastFundingRoundIds:
          description: 'CBI funding round IDs of organizations. This property is used for granular filtering of the stage that most recently occurred. For detailed mapping of Funding Round IDs to investment Stages, see: https://api-docs.cbinsights.com/docs/reference/funding_types/#funding-round'
          type: array
          items:
            type: integer
        leis:
          description: Legal Entity Identifiers to match.
          type: array
          items:
            type: string
        limit:
          description: The maximum number of organizations to be returned in a single response.
          type: integer
          example: 10
        marketIds:
          description: Searches for organizations that are a part of these CB Insights markets; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/markets
          type: array
          items:
            type: integer
          example:
          - 6
          - 95
          - 106
        marketNames:
          description: Searches for organizations that are a part of these CB Insights markets. Supports partial matches, i.e., "AI" will return organizations in markets that include "AI" in their names.
          type: array
          items:
            type: string
          example:
          - Web3 wallets
          - Large language model (LLM) developers
          - Retail AI agents
          - AI
          - LLM
        maxCurrentHeadcount:
          description: Filters for organizations with a headcount less than or equal to this value
          type: integer
        maxLastFundingDate:
          description: Filters for organizations which have received funding on or before the provided date, in the format YYYY-MM-DD.
          type: string
        maxTotalFundingInMillions:
          description: Filters for organizations which have received a total amount of funding less than or equal to this value, in millions of US dollars.
          type: number
        maxValuationInMillions:
          description: Filters for organizations with a valuation less than or equal to this value, in millions of US dollars.
          type: number
        minCurrentHeadcount:
          description: Filters for organizations with a headcount greater than or equal to this value
          type: integer
        minLastFundingDate:
          description: Filters for organizations which have received funding on or after the provided date, in the format YYYY-MM-DD.
          type: string
        minTotalFundingInMillions:
          description: Filters for organizations which have received a total amount of funding greater than or equal to this value, in millions of US dollars.
          type: number
        minValuationInMillions:
          description: Filters for organizations with a valuation greater than or equal to this value, in millions of US dollars.
          type: number
        nextPageToken:
          description: Token to fetch the next page of results; provided in a previous response.
          type: string
          example: ''
        orgIds:
          description: CB Insights organization IDs to return.
          type: array
          items:
            type: integer
          example:
          - 129410
          - 129411
        orgNames:
          description: Organization names to exactly match.
          type: array
          items:
            type: string
          example:
          - CB Insights
        orgStatusIds:
          description: CBI organization status IDs to match; see https://api-docs.cbinsights.com/docs/reference/org_status/
          type: array
          items:
            type: integer
        regionIds:
          description: CBI region IDs to match; see https://api-docs.cbinsights.com/docs/reference/address/
          type: array
          items:
            type: integer
        sectorIds:
          description: CBI sector IDs to match; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: array
          items:
            type: integer
        sort:
          description: The order in which the results will be returned.
          type: object
          properties:
            direction:
              description: The order in which the results will be returned. Available sort orders are asc and desc.
              type: string
              example: desc
            field:
              description: The field to be used to sort returned results. Available sort fields are orgName, orgId, lastUpdateTime, lastFundingDate, latestValuation, mosaicOverall, mosaicManagement, mosaicMarket, mosaicMomentum, mosaicMoney, headcountCurrent, headcount6MonthGrowth, headcount12MonthGrowth, and headcount24MonthGrowth.
              type: string
              example: mosaicOverall
        stateProvinceIds:
          description: CBI state/province IDs to match; see https://api-docs.cbinsights.com/docs/reference/address/
          type: array
          items:
            type: integer
        subindustryIds:
          description: CBI sub-industry IDs to match; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/industries
          type: array
          items:
            type: integer
        technologyIds:
          description: Searches for organizations that are a part of the specified technology IDs; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/technologies
          type: array
          items:
            type: integer
        tickers:
          description: Stock tickers to match. Each may optionally include a stock exchange code, separated from the ticker by a colon; see https://api-docs.cbinsights.com/docs/reference/stock_exchanges/ for exchange codes.
          type: array
          items:
            type: string
        urls:
          description: Websites of organizations to search for.
          type: array
          items:
            type: string
          example:
          - cbinsights.com
        vcBacked:
          description: Boolean flag to match organizations that have received venture funding.
          type: boolean
    v2Firmographics.Region:
      type: object
      properties:
        region:
          description: The name of the region for this geographical location.
          type: string
          example: New York Metro
        regionId:
          description: The CBI ID of the region; see https://api-docs.cbinsights.com/docs/reference/address/
          type: integer
          example: 5
    v2Firmographics.FirmographicsResponse:
      type: object
      properties:
        nextPageToken:
          description: Token to fetch the next page of results. If the value is null, then there are no more results to page through.
          type: string
          example: eyJwYWdpbmF0aW9uX3NjaGVtZSI6MiwibmV4dF9wYWdlX3Rva2VuIjoxMjk0MTB9Cg==
        orgs:
          description: A list of organization profiles that include general information like location, headcount, and industry, as well as proprietary data like business models, Competitor Scores, and Expert Collections.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.Org'
        totalHits:
          description: Total number of organizations matching the request parameters.
          type: integer
          example: 10
        totalHitsRelation:
          description: Indicates whether totalHits is equal to ('eq'), or greater than or equal to ('gte') the number of organizations which can be fetched. Will be set to 'gte' if totalHits exceeds 10,000.
          type: string
          example: gte
    v2Firmographics.Financials:
      type: object
      properties:
        lastFundingDate:
          description: The date of the most recent funding round, in the format YYYY-MM-DD.
          type: string
          example: '2024-06-30'
        latestRevenueMultipleMax:
          description: The latest maximum known revenue multiple.
          type: number
          example: 0.20000000298023224
        latestRevenueMultipleMin:
          description: The latest minimum known revenue multiple.
          type: number
          example: 0.20000000298023224
        marketCap:
          description: For public companies, the market capitalization of the organization in millions of US dollars.
          type: number
          example: 3479762.37056
        revenueDate:
          description: The date of the most recent revenue data, in the format YYYY-MM-DD.
          type: string
          example: '2024-06-30'
        revenueMax:
          description: The latest maximum known revenue in US dollars.
          type: number
          example: 85776998400
        revenueMin:
          description: The latest minimum known revenue in US dollars. For most organizations, revenueMin is equal to revenueMax.
          type: number
          example: 85776998400
        stockLastClose:
          description: For public companies, the price, in US dollars, at which it traded at the end of the previous regular trading session.
          type: number
          example: 228.2
        totalEquityFunding:
          description: Total equity funding, in millions of US dollars. This only includes rounds where equity is exchanged.
          type: number
          example: 79.30000000447035
        totalFunding:
          description: Total funding of any type raised by this organization, in millions of US dollars. This includes Grant, Accelerator, Debt, and other non-equity rounds.
          type: number
          example: 0.7200000286102295
        valuation:
          description: Latest valuation on record in millions of US dollars.
          type: number
          example: 1778
    common.ErrorWithCode:
      type: object
      properties:
        error:
          type: string
    v2Firmographics.TechnologyLandscape:
      type: object
      properties:
        technologyId:
          description: The CBI ID of the technology landscape; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/technologies
          type: integer
          example: 1
        technologyName:
          description: The name of the technology landscape.
          type: string
          example: Defense Tech
    v2Firmographics.Org:
      type: object
      properties:
        businessModels:
          description: Business models for the organization. Indicates what markets a business serves and how they create revenue.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.BusinessModel'
        childOrgs:
          description: Information about this organization's subsidiaries.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.BasicOrg'
        competitors:
          description: Competitors that CB Insights has determined are related to the company.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.Competitor'
        expertCollections:
          description: CB Insights analyst-curated lists of companies that this company is a part of.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.ExpertCollection'
        financials:
          description: The organization's financial information, such as revenue and valuation.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Financials'
        headcount:
          description: The current and historical headcount of this organization.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Headcount'
        identifiers:
          description: The organization's public identifiers.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Identifiers'
        orgId:
          description: CB Insights organization ID.
          type: integer
          example: 129410
        parentOrgs:
          description: Information about parent organization(s).
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.BasicOrg'
        summary:
          description: General information about the company.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Summary'
        taxonomy:
          description: CB Insights custom taxonomy where sector is the top of the hierarchy, followed by industry, and then sub-industry. Not all organizations contain all taxonomy levels. Includes Landscape as applicable.
          allOf:
          - $ref: '#/components/schemas/v2Firmographics.Taxonomy'
    v2Firmographics.Competitor:
      type: object
      properties:
        name:
          description: The name of the organization.
          type: string
          example: Xeler8
        orgId:
          description: CB Insights organization ID.
          type: integer
          example: 31509
        score:
          description: The Competitor Score of this competitor.
          type: number
          example: 81.86949920654297
    v2Firmographics.BusinessModel:
      type: object
      properties:
        businessModel:
          description: The name of the business model.
          type: string
          example: SaaS
        businessModelId:
          description: The CBI ID of the business model; see https://api-docs.cbinsights.com/portal/docs/References/Taxonomy/business-models
          type: integer
          example: 7
    v2Firmographics.Landscape:
      type: object
      properties:
        awardsAndSpotlights:
          description: All associated landscape awards and spotlights.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.AwardsAndSpotlightsLandscape'
        businessModels:
          description: All associated landscape business models, values are identical to the "businessModels" object.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.BusinessModelLandscape'
        technologies:
          description: All associated landscape technologies.
          type: array
          items:
            $ref: '#/components/schemas/v2Firmographics.TechnologyLandscape'
  securitySchemes:
    BearerAuth:
      description: Type "Bearer" followed by a space and JWT token.
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: CBI API v1 reference
  url: https://api-docs.cbinsights.com/
