openapi: 3.2.0
info:
  description: '# Introduction


    The CB Insights API offers market data and insights you won''t find anywhere else.'
  title: CB Insights Authorization API
  contact: {}
  version: '2.0'
  x-logo:
    altText: CB Insights logo
    backgroundColor: '#FFFFFF'
    href: https://api-docs.cbinsights.com/v2/
    url: https://api-docs.cbinsights.com/images/CBI_Logo_Color.svg
servers:
- url: https://api.cbinsights.com
tags:
- name: Authorization
paths:
  /v2/authorize:
    post:
      description: Authorize a client using client ID and client secret. Returns a bearer token to be used in subsequent requests. The client ID and client secret are provided by CB Insights. To receive your client ID and client secret, please contact your Customer Success Manager or email info@cbinsights.com.
      tags:
      - Authorization
      summary: Authorize a client
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2Authorize.AuthorizeResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2Authorize.AuthorizeRequestBody'
        description: Authorize request body
        required: true
      operationId: postV2Authorize
      x-operation-id-source: derived
components:
  schemas:
    v2Authorize.AuthorizeRequestBody:
      type: object
      properties:
        clientId:
          type: string
        clientSecret:
          type: string
    common.ErrorWithCode:
      type: object
      properties:
        error:
          type: string
    v2Authorize.AuthorizeResponse:
      type: object
      properties:
        token:
          type: string
  securitySchemes:
    BearerAuth:
      description: Type "Bearer" followed by a space and JWT token.
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: CBI API v1 reference
  url: https://api-docs.cbinsights.com/
