openapi: 3.2.0
info:
  description: "# Introduction\n\nThe CB Insights API offers market data and insights you won't find anywhere else. Use our API to build trading platforms, media content, and market indexes, or integrate our proprietary scores into your workflows, algorithms, or LLMs. \n\n# CB Insights API v2 compared to v1\n\nThe new CB Insights API v2 offers new datasets and additional data points that were not available in v1. v2 follows the same REST architectural style and has a new structure for you to retrieve the information you need as conveniently as possible.\n\nThis first set of data includes:\n\n- **Firmographics**. Profiles on private companies, public companies, and investors. Includes general information like location, headcount, and industry, as well as proprietary data like business models, Competitor Scores, and Expert Collections.\n- **Financial Transactions**. Funding deals, cap table history, M&As, and IPOs, plus AI-generated insights that extract key themes.\n- **Business Relationships**. Partnerships, clients/vendors, and licensing activity, plus AI-generated insights to predict future M&As and shifts in strategy.\n- **Management and Board**. Leadership teams, board members, and the Management factor of the Mosaic Score — our proprietary algorithm which evaluates leadership teams based on past achievements.\n- **Outlook**. Proprietary data science analysis including Mosaic Score, Commercial Maturity, and Exit Probability. Proven to predict winners better than top VCs.\n- **Scouting Reports**. On-demand, AI-generated insights into business model, market position, strengths, and opportunities for private companies.\n"
  title: CB Insights Revenue API
  contact: {}
  version: '2.0'
  x-logo:
    altText: CB Insights logo
    backgroundColor: '#FFFFFF'
    href: https://api-docs.cbinsights.com/v2/
    url: https://api-docs.cbinsights.com/images/CBI_Logo_Color.svg
servers:
- url: https://api.cbinsights.com
tags:
- name: Revenue
paths:
  /v2/organizations/{orgId}/revenuebyyear:
    post:
      security:
      - BearerAuth: []
      description: Returns revenue by year for an organization.
      tags:
      - Revenue
      summary: List revenue data by year for a single organization.
      parameters:
      - description: Authorization
        name: Authorization
        in: header
        required: true
        schema:
          type: string
      - description: CB Insights organization ID
        name: orgId
        in: path
        required: true
        schema:
          type: integer
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2Revenue.RevenueByYearResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
  /v2/revenuebyyear:
    post:
      security:
      - BearerAuth: []
      description: Returns revenue by year for a list of organizations
      tags:
      - Revenue
      summary: List revenue data by year for a list of organizations
      parameters:
      - description: Authorization
        name: Authorization
        in: header
        required: true
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/v2Revenue.RevenueByYearListResponse'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '401':
          description: Unauthorized
          content:
            application/json:
              schema:
                type: string
        '403':
          description: Forbidden
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '424':
          description: Failed Dependency
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/common.ErrorWithCode'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/v2Revenue.RevenueByYearListRequestBody'
        description: Search parameters
        required: true
components:
  schemas:
    v2Revenue.Source:
      type: object
      properties:
        name:
          description: Name of the source.
          type: string
          example: theinformation.com
        url:
          description: URL for the source data.
          type: string
          example: https://www.theinformation.com/articles/stripe-minted-2-billion-cash-last-year-go-public
    v2Revenue.RevenueYear:
      type: object
      properties:
        averageValue:
          description: Average revenue reported for the year in US dollars.
          type: number
          example: 1500000
        calendarYear:
          description: Calendar year for the revenue data.
          type: integer
          example: 2025
        highestValue:
          description: Highest revenue reported for the year in US dollars.
          type: number
          example: 1500000
        isActual:
          description: Whether the revenue is actual or estimated/projected.
          type: boolean
          example: false
        lowestValue:
          description: Lowest revenue reported for the year in US dollars.
          type: number
          example: 1500000
        reportedMetric:
          description: The revenue metric that corresponds to the reported values.
          type: string
          example: Annual Recurring Revenue (ARR)
        revenueSignalId:
          description: This has been deprecated and will always return null.
          type: integer
        sources:
          description: Sources that support the revenue data.
          type: array
          items:
            $ref: '#/components/schemas/v2Revenue.Source'
        yoyGrowthPercent:
          description: Year-over-year growth percentage expressed as an integer.
          type: integer
          example: 15
    v2Revenue.Org:
      type: object
      properties:
        orgId:
          description: CB Insights organization ID.
          type: integer
          example: 12345
        orgName:
          description: The organization's name.
          type: string
          example: Stripe
        orgUrl:
          description: The organization's website.
          type: string
          example: https://www.stripe.com
        revenue:
          description: List of revenue data by year.
          type: array
          items:
            $ref: '#/components/schemas/v2Revenue.ListRevenueYear'
    v2Revenue.RevenueByYearResponse:
      type: object
      properties:
        orgId:
          description: CB Insights organization ID.
          type: integer
          example: 12345
        orgName:
          description: The organization's name.
          type: string
          example: Stripe
        orgUrl:
          description: The organization's website.
          type: string
          example: https://www.stripe.com
        revenue:
          description: List of revenue data by year.
          type: array
          items:
            $ref: '#/components/schemas/v2Revenue.RevenueYear'
    common.ErrorWithCode:
      type: object
      properties:
        error:
          type: string
    v2Revenue.RevenueByYearListResponse:
      type: object
      properties:
        orgs:
          description: List of revenue data for the requested Org IDs. If an Org ID has no data, it will be excluded from the response.
          type: array
          items:
            $ref: '#/components/schemas/v2Revenue.Org'
    v2Revenue.ListRevenueYear:
      type: object
      properties:
        averageValue:
          description: Average revenue reported for the year in US dollars.
          type: number
          example: 1500000
        calendarYear:
          description: Calendar year for the revenue data.
          type: integer
          example: 2025
        highestValue:
          description: Highest revenue reported for the year in US dollars.
          type: number
          example: 1500000
        isActual:
          description: Whether the revenue is actual or estimated/projected.
          type: boolean
          example: false
        lowestValue:
          description: Lowest revenue reported for the year in US dollars.
          type: number
          example: 1500000
        reportedMetric:
          description: The revenue metric that corresponds to the reported values.
          type: string
          example: Annual Recurring Revenue (ARR)
        sources:
          description: Sources that support the revenue data.
          type: array
          items:
            $ref: '#/components/schemas/v2Revenue.Source'
        yoyGrowthPercent:
          description: Year-over-year growth percentage expressed as an integer.
          type: integer
          example: 15
    v2Revenue.RevenueByYearListRequestBody:
      description: Search parameters to request available revenue data for one or more organizations
      type: object
      properties:
        orgIds:
          description: List of Org IDs to look up, the request must contain 1 - 100 Org IDs.
          type: array
          items:
            type: integer
          example:
          - 129410
          - 1034157
  securitySchemes:
    BearerAuth:
      description: Type "Bearer" followed by a space and JWT token.
      type: apiKey
      name: Authorization
      in: header
externalDocs:
  description: CBI API v1 reference
  url: https://api-docs.cbinsights.com/
